<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:600px;">
	<h3><span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">đóng</span>Chi tiết đơn hàng</h3>
	<div style="overflow-x:hidden;padding:10px;" id="dialog-order-id" oid="{$order['id']}">
	<table width="96%" align="center" class="coupons-table">
		<tr><td width="80"><b>Thành viên: </b></td><td>{$user['realname']}</td></tr>
		<tr><td><b>Tên deal:</b></td><td>{$team['title']}</td></tr>
		<tr><td><b>Số lượng:</b></td><td>{$order['quantity']}</td></tr>
		<tr><td><b>Mã ĐH.</b></td><td>{$order['pay_id']}</td></tr>
		<tr><td><b>Thành tiền:</b></td><td> <b>{$team['team_price']} X {$order['quantity']} = ${moneyit($team['team_price']*$order['quantity'])}</b></td></tr>
		<tr><td><b>Thời gian: </b></td><td>${date('Y-m-d H:i', $order['create_time'])}</td></tr>
		<tr><th colspan="2"><hr/></th></td>
		<tr><td colspan=2>------------------- <b>Thông tin giao hàng</b> -------------------</td></tr>
		<tr><td width="80"><b>Người nhận: </b></td><td>{$order['realname']}</td></tr>
		<tr><td><b>Số ĐT: </b></td><td>{$order['mobile']}</td></tr>
		<tr><td><b>Địa chỉ: </b></td><td>${$order['room']?'('.$order['room'].') ':''}{$order['nohome']} {$order['address']}, ${getRecord('vncountry',$order[ward_id],'name')}, ${getRecord('vncountry',$order[dist_id],'name')}, ${getRecord('vncountry',$order[city_id],'name')}</td></tr>
	<!--{if $order['remark']}-->
		<tr><td width="80"><b>Ghi chú:</b></td><td>${htmlspecialchars($order['remark'])}</td></tr>
	<!--{/if}-->
		


	</table>
	</div>
</div>
