<div class="category divProductCategoryBox">
<div class="contentMenu focusIndex">
<ul class='listMenu'>
<!--${
	$rcates = DB::LimitQuery('cate', array(
    	'condition' => array('cate_type'=>'deal', 'type'=>'root', 'display'=>'Y'),
        'order' => 'ORDER BY sort_order ASC',
        'size' => '10',
    ));    
}-->
<!--{loop $rcates $index $cate}-->	
	<li class='liCategory'>
    <div class='dNameCat ${$index==8?"lastItem":""}'>    
	<a class='mainCategory' href="${rewrite_cate_shop($cate['id'])}" style='cursor:pointer'> 
	<b style="background-image: url(${team_image($cate['image_icon'])})"></b>{$cate['name']}</a>
	<span class='arrExpand'></span>    </div>
<!--${
	$ccates = DB::LimitQuery('cate', array(
    	'condition' => array('cate_type'=>'deal', 'type'=>'child', 'display'=>'Y', 'pid'=>$cate['id']),
        'order' => 'ORDER BY sort_order ASC',
    ));
	$count_child = count($ccates);
}-->
<!--{if $count_child}-->	
	<div class='subCategory' style='top:-${($index+0)*35}px'> 
	<div class='innerSubCat' style='padding-right: 50px;'>  
	<span class='shadowLeftSub'></span>     
	<div class='modListSubs'>
	<!--{if $cate['image_cate']}-->
	<span class='imgSubCat' style='bottom:0px;right:2px'> 
	<img src="/static/{$cate['image_cate']}" alt="{$cate['name']}" usemap='#{$cate['id']}'/>
	</span>
	<!--{/if}-->   
	<ul class='listSubCats'>
	<li class='nameSubCat '>  
	<a href="${rewrite_cate_shop($cate['id'])}">
    <span class="arrow"></span>{$cate['name']}</a></li>
	<!--{loop $ccates $index $ccate}-->
	<li><a href="${rewrite_cate_shop($ccate['id'])}">{$ccate['name']}</a></li>
	<!--{if ($index+1)%9==0}-->
	</ul>
	<ul class='listSubCats'>
	<li class='nameSubCat '>
	<a href='#'>&nbsp;</a></li>
	<!--{/if}-->
	<!--{/loop}-->
	</ul>	
	</div></div></div>
<!--{/if}-->	
	</li>
<!--{/loop}-->	
	</ul></div>
</div>
<div class="clear"></div>
