
<!--{loop $cates $index $cate}-->
<!--${
	$condition = array();
	$condition['cate_id'] = $cate['id'];
	$newss = DB::LimitQuery('news', array(
		'condition' => $condition,
		'order' => 'ORDER BY id DESC',
		'size' => 4,

	));
	$count = Table::Count('news', $condition);
}-->
<!--{if $count}-->
<div id="mpfZone_4" class="column">          
<div class="">
    <h3 class="f-14 catetitle-${$index+1}">
        <strong><a class="clor3" href="${rewrite_news_cat($cate['id'])}">{$cate['name']}</a></strong>
    </h3>
<!--{loop $newss $index $news}-->
<!--{if $index<1}-->	
	<div class="txtShort">
        <!--{if $news['image']!=''}-->
        <a href="${rewrite_news_id($news['id'])}" style="display : block;">
            <img src="${team_image($news['image'],true)}" class="itemblogNews" alt="{$news['title']}"></a>
		<!--{/if}-->
        <div class="f-13">
		<h4 class="f-14 padB4" style="min-height:20px;">
            <a class="clorBlue" href="${rewrite_news_id($news['id'])}"><strong>{$news['title']}</strong>
            </a> 
        </h4>{$news['news_desc']}
        </div>
	</div>
<!--{/if}-->	
<!--{/loop}-->	
        <ul class="listItemHot">
<!--{loop $newss $index $news}-->
<!--{if $index}-->			
                <li><a href="${rewrite_news_id($news['id'])}" style="font:12px!important;">{$news['title']}</a> </li>
<!--{/if}-->	
<!--{/loop}-->	
		</ul>
</div>
</div>
<!--{/if}-->
<!--{/loop}-->