<!--Danh muc san pham-->
<div class="category divProductCategoryBox">
    <div class="cate-title">DEAL MENU</div>
    <div class="cate-content">
        <!--Top cate-->
        <!--<div class="cate-item">
            <div class="parrent"><a href="/Tim-kiem?sk=&spf=0&spt=100000&sg=0&sc=">Sản phẩm dưới 100.000</a></div>
            <div style="display: block; height: 5px;"></div>
            <div class="clear"></div>
        </div>
        <div class="cate-item">
            <div class="parrent"><a href="/big-sale">Big sale</a></div>
            <div style="display: block; height: 5px;"></div>
            <div class="clear"></div>
        </div>
        <div class="cate-item">
            <div class="parrent"><a href="/crazy">Crazy deal</a></div>
            <div style="display: block; height: 5px;"></div>
            <div class="clear"></div>
        </div>
        <div class="cate-item">
            <div class="parrent"><a href="/luxury">Luxury deal</a></div>
            <div style="display: block; height: 5px;"></div>
            <div class="clear"></div>
        </div>-->
        <!--End of Top cate-->
        ${current_cate_thd()}
        <!--<div class="cate-item">
            <div class="parrent"><a href="/Gia-Tot-Gan-Day">Tất cả</a></div>
            <div style="display: block; height: 5px;"></div>
            <div class="clear"></div>
        </div>-->
        <div class="clear"></div>
        <div class="clear"></div>
    </div>
</div>
<!--End Danh muc-->
<div class="clear"></div>
