<div <!--{if $is_slide==false}--> style="margin:0px;" <!--{/if}--> class="ls_deal_of_category">
    <div class="ls_cate_product2">
        <div style="margin-left: 10px; width: 790px !important;" class="product_top">
            <div class="product_top_title"><a href="javascript:void(0)">{$title_cate}</a></div>
        </div>
        <!--{loop $teams $index $one}-->
        <div class="cate_product_item2">
            <div class="cate_product_item_img2">
                <a href="${rewrite_team_id($one['id'])}" target="_blank">
                    <img alt="{$one['product']}, {$INI['system']['keywordseo']}" src="${team_image($one['image'])}" />
                </a>
                <div class="cate_product_delivery">
                    <span class="cate_product_damua">&nbsp;Đã mua <span>{$one['now_number']}</span></span>
                    <span class="cate_product_giaohang">
                        <span class="giao_{$one['delivery_type']}"></span>
                        {$option_giaohang[$one['delivery_type']]}
                    </span>
                </div>
            </div>
            <div class="cate_product_item_title2">
                <a href="${rewrite_team_id($one['id'])}" target="_blank">{$one['product']}</a>
            </div>
            <div class="cate_product_item_info2">
                <span class="deal_common_info2 sale_prc2">${formatMoney($one['team_price'])}đ</span> 
                <span class="deal_common_info2 discount_percent2">
                    <span>-${formatMoney($one['percent'])}%</span>
                </span>
                <span class="deal_common_info deal_cmny" style="display: none;">
                    <span>{$one['bonus']}</span>
                </span>
                <span class="deal_common_info deal_number_buy2">
                    <span>${formatMoney($one['view']+$one['pre_view'])}</span>người xem
                </span>
                <span class="deal_timer2" id="tg-${++$count_timer}" diff="{$one['end_time']-$daytime}">
                    <span class="divtimer" id="timer-{$count_timer}"></span>
                </span>
            </div>
        </div>
     
        
        <!--<div class="cate_product_item2">
            <div class="cate_product_item_img2">
                <a href="${rewrite_team_id($one['id'])}">
                    <img src="${team_image($one['image'])}" alt="{$one['product']}, {$INI['system']['keywordseo']}" />
         		</a>
           	</div>
            <div class="cate_product_item_title2">
                <a href="${rewrite_team_id($one['id'])}">{$one['product']}</a>
            </div>
            <div class="cate_product_item_info2">
                <span class="deal_common_info sale_prc">${formatMoney($one['team_price'])}đ</span> 
                	<span class="deal_common_info2 discount_percent2">
                        <span>-${formatMoney($one['percent'])}%</span>
                   	</span>
                    <span style="display: none;" class="deal_common_info deal_cmny"><span>0</span></span>
                <span class="deal_common_info deal_number_buy"><span>{$one['now_number']}</span>người đã mua</span>
                <span class="deal_delivery delivery_{$one['delivery_type']}"></span>
            </div>
        </div>-->
        <!--{/loop}-->
		<script language="javascript">
            var sec = {};
            function getInitTime(){
              $('span.deal_timer2').each(function(){
                 var jobj = $(this);
                 var SysSecond = parseInt(jobj.attr('diff'));
                 var theid = parseInt((jobj.attr('id')).replace(/tg-/,''));
                 sec[theid]= SysSecond;
              });
            }
            getInitTime();
            function SetRemainTime() {
                for(var i in sec){
                    setRemainTimeSite(i,sec[i]);
                }
            }
            
            function setRemainTimeSite(theid,SysSecond){
            
              if (SysSecond > 0) {
                    SysSecond = SysSecond - 1;
                    var second = Math.floor(SysSecond % 60).toString();
                    var minute = Math.floor((SysSecond / 60) % 60).toString();
                    /*var hour = Math.floor((SysSecond / 3600) % 24).toString();*/
                    var hour = Math.floor(SysSecond / 3600).toString();
                    /*var day = Math.floor((SysSecond / 3600) / 24).toString();*/
                    if(hour<10) {hour = '0'+hour}
                    else{ if(hour<100) {hour = ''+hour;}}
                    if(minute<10) {minute = '0'+minute};
                    if(second<10) {second = '0'+second};
                    /*if(day>=1) $("#thoigiands-"+theid).html(""+day+" ngày");*/
                    /*else $("#thoigiands-"+theid).html(""+hour+":"+minute+":"+second);*/
                    $("#timer-"+theid).html(""+hour+":"+minute+":"+second);
                    
                    sec[theid]--;
              }else{
                    return;
              }
            }
            window.setInterval(SetRemainTime,1000);
        </script>
    </div>
    <div class="clear"></div>
    {$pagestring}
    <!--<div class="loading_more">Đang tải deal...</div>
    <form id="frdost2" method="post" action="/jquery/getrecent.php">
        <input type="hidden" id="npage" name="npage" value="1" />
        <input type="hidden" value="{$group_id}" name="frdost2id" id="frdost2id">
    </form>
    <iframe id="ifrdost2" name="ifrdost2" style="display: none;" src=""></iframe>-->
</div>

