<!--${
    $daytime = time();
	$cate_quantity = 40;
    $cates = Table::Fetch('cate', $cate_id);
    $cate_name = get_name_cate($cate_id);
	$condition_cate = array(
        'hot' => 1,
		"begin_time <= '$daytime'",
		"end_time > '$daytime'",
	
	);
	$team_hot = DB::LimitQuery('team', array(
		'condition' => $condition_cate,
		'order' => 'ORDER BY sort_order DESC, begin_time DESC,  id DESC',
		'size' => $quantity_cate,
	
	));
}-->
<div class="hot-product mgt10 clearfix jcarousel-skin-nhanhoa">
    <ul class="slide-hot-pr">
	<!--{loop $team_hot $one}-->
		<li>
            <div class="dispImg ftp">
                <a href="${rewrite_team_id($one['id'])}">
                    <img src="${team_image($one['picture'])}" alt="{$one['product']}" width="313" />
                </a>
				<span class="lb-sale1"><b> - ${round(moneyit((100*($one['market_price'] - $one['team_price'])/$one['market_price'])))}</b>%</span>            </div>
            <h2><a href="${rewrite_team_id($one['id'])}" title="{$one['product']}">{$one['product']}</a></h2>
            <div class="desImg">
                <span class="fl fs14">Giá: <b class="clPrice fs16">${formatMoney($one['team_price'])} đ </b>
                </span>
                <span class="fl cl66 txtout">${formatMoney($one['market_price'])} đ</span></p>
			</div>
			<div class="btnView"></div>
        </li>       
    <!--{/loop}-->                 
            </ul>
</div>
<script type="text/javascript">   
jQuery(document).ready(function() {
    $('.hot-product').jcarousel({
        auto: 0,
        scroll: 1,
        wrap: 'circular',
        animation: 500,
        iniFallbackDimension: 90
     });
});
</script>