<form action="/Tim-kiem" name="formSearchDeal" id="formSearchDeal">
<div class="search-box">
    <div class="title">Tìm kiếm nhanh</div>
    <div class="search-content">
        <div class="search-item">
            <input type="text" value="--Nhập từ khóa--" onfocus="javascript:if(this.value == '--Nhập từ khóa--') this.value='';" onblur="javascript:if(this.value == '')this.value='--Nhập từ khóa--';" name="sk" id="sk">
       	</div>
        <div class="search-item">
            <select name="spf" id="spf">
                <option value="0">--Giá từ--</option>
                <option value="20000">20.000</option>
                <option value="50000">50.000</option>
                <option value="100000">100.000</option>
                <option value="150000">150.000</option>
                <option value="200000">200.000</option>
                <option value="250000">250.000</option>
                <option value="300000">300.000</option>
                <option value="500000">500.000</option>
                <option value="1000000">1.000.000</option>
                <option value="3000000">3.000.000</option>
                <option value="5000000">5.000.000</option>
            </select>
        </div>
        <div class="search-item">
            <select name="spt" id="spt">
                <option value="0">--Giá đến--</option>
                <option value="20000">20.000</option>
                <option value="50000">50.000</option>
                <option value="100000">100.000</option>
                <option value="150000">150.000</option>
                <option value="200000">200.000</option>
                <option value="250000">250.000</option>
                <option value="300000">300.000</option>
                <option value="500000">500.000</option>
                <option value="1000000">1.000.000</option>
                <option value="3000000">3.000.000</option>
                <option value="5000000">5.000.000</option>
            </select>
        </div>
        <div class="search-item">
            <select name="sg" id="sg">
            	${Utility::Option($option_gender,'','--Chọn đối tượng--')}
            </select>
        </div>
        <div class="search-item">
            <select name="sc" id="sc">
                <option value="">--Danh mục--</option>
                ${option_menu()}
            </select>
        </div>
    </div>
    <div class="search-button">
        <a class="btnSearch" href="javascript: submitSearchForm()"></a>
    </div>
</div>
</form>
<script type="text/javascript">
    function submitSearchForm() {
        $("#formSearchDeal")[0].submit();
    }
</script>