<div class="modContentLeft">
								<div class="optProfile">
								<h1>Thông tin hữu ích</h1>
								<div class="grpButton_div">
								<ul class="grpButton">
								<li class="first ${activeMenu('help_faqs')}" id="liMyAccount">
								<a href="{$INI['system']['wwwprefix']}/hoi-dap.html">
								<span class="icon"></span>
								<span class="text">Hỏi đáp</span>
								</a>
								</li> 
								<li id="liMyOrders" class="${activeMenu('account')}"> 
								<a href="{$INI['system']['wwwprefix']}/tai-khoan-don-hang.html">
								<span class="icon"></span>             
								<span class="text">Tài khoản & đơn hàng</span>        
								</a>       
								</li>  
								<li id="liMyOrders" class="${activeMenu('help_tour')}"> 
								<a href="{$INI['system']['wwwprefix']}/huong-dan-mua-hang.html">
								<span class="icon"></span>             
								<span class="text">Hướng dẫn mua hàng</span>        
								</a>       
								</li>  
								<li id="liMyOrders" class="${activeMenu('help_payment')}"> 
								<a href="{$INI['system']['wwwprefix']}/hinh-thuc-thanh-toan.html">
								<span class="icon"></span>             
								<span class="text">Hình thức thanh toán</span>        
								</a>       
								</li>  
								<li id="liMyOrders" class="${activeMenu('delivery_item')}"> 
								<a href="{$INI['system']['wwwprefix']}/giao-nhan-hang.html">
								<span class="icon"></span>             
								<span class="text">Giao nhận hàng</span>        
								</a>       
								</li>  
								<li id="liMyOrders" class="${activeMenu('money')}"> 
								<a href="{$INI['system']['wwwprefix']}/tra-hang-hoan-tien.html">
								<span class="icon"></span>             
								<span class="text">Trả hàng & hoàn tiền</span>        
								</a>       
								</li>
								<li id="liMyOrders" class="${activeMenu('giaonhan')}"> 
								<a href="{$INI['system']['wwwprefix']}/quy-trinh-giao-nhan.html">
								<span class="icon"></span>             
								<span class="text">Quy trình giao nhận</span>        
								</a>       
								</li><li id="liMyOrders" class="${activeMenu('doitra')}"> 
								<a href="{$INI['system']['wwwprefix']}/quy-dinh-bao-hanh-doi-tra.html">
								<span class="icon"></span>             
								<span class="text">Quy định bảo hành đổi trả</span>        
								</a>       
								</li> 								
								
								<li id="liMyOrders" class="${activeMenu('about_terms')}"> 
								<a href="{$INI['system']['wwwprefix']}/dieu-khoan-su-dung.html">
								<span class="icon"></span>             
								<span class="text">Điều khoản sử dụng</span>        
								</a>       
								</li> 								
								</ul>   
								</div>
								</div>
								<div class="optProfile">
								<h1>Chọn Giá Tốt</h1>
								<div class="grpButton_div">
								<ul class="grpButton">
								<li class="first ${activeMenu('about_us')}" id="liMyAccount">
								<a href="{$INI['system']['wwwprefix']}/ve-chung-toi.html">
								<span class="icon"></span>
								<span class="text">Giới thiệu</span>
								</a>
								</li> 
								<li id="liMyOrders" class="${activeMenu('feedback_sellerfaq')}"> 
								<a href="{$INI['system']['wwwprefix']}/hop-tac-kinh-doanh.html">
								<span class="icon"></span>             
								<span class="text">Hợp tác kinh doanh</span>        
								</a>       
								</li>  
								<li id="liMyOrders" class="${activeMenu('about_job')}"> 
								<a href="{$INI['system']['wwwprefix']}/tuyen-dung.html">
								<span class="icon"></span>             
								<span class="text">Tuyển dụng</span>        
								</a>       
								</li>
								<li id="liMyOrders" class="${activeMenu('thongbao')}"> 
								<a href="{$INI['system']['wwwprefix']}/thong-bao.html">
								<span class="icon"></span>             
								<span class="text">Thông báo</span>        
								</a>       
								</li> 							
								 
								<li id="liMyOrders" class="${activeMenu('about_contact')}"> 
								<a href="{$INI['system']['wwwprefix']}/lien-he.html">
								<span class="icon"></span>             
								<span class="text">Liên hệ</span>        
								</a>       
								</li>  							
								</ul>   
								</div>
								</div>
								</div>