<div class="nhtop">
<div class="current-path wd">
	<p>
    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="{$INI['system']['wwwprefix']}" itemprop="url">
            <span itemprop="title">{$INI['system']['abbreviation']}</span>
        </a>
    </span>
    &nbsp;&gt;&nbsp;
    <span itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
        <a href="/Tim-kiem" itemprop="url">
            <span itemprop="title">Tìm kiếm</span>
        </a>
    </span>
</p>
	</div>
</div>
<div class="nhmain">
<div id="cse" style="width: 950px;margin-left: 10px;">Loading</div>

<script src="http://www.google.com/jsapi" type="text/javascript"></script>

<script type="text/javascript"> 

  google.load('search', '1', {language : 'vi', style : google.loader.themes.BUBBLEGUM});

  google.setOnLoadCallback(function() {

    var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(

      '017768719765809795921:kmcf0f1hzmc', customSearchOptions);

    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);

    customSearchControl.draw('cse');

    function parseParamsFromUrl() {

      var params = {};

      var parts = window.location.search.substr(1).split('\x26');

      for (var i = 0; i < parts.length; i++) {

        var keyValuePair = parts[i].split('=');

        var key = decodeURIComponent(keyValuePair[0]);

        params[key] = keyValuePair[1] ?

            decodeURIComponent(keyValuePair[1].replace(/\+/g, ' ')) :

            keyValuePair[1];

      }

      return params;

    }



    var urlParams = parseParamsFromUrl();

    var queryParamName = "sk";

    if (urlParams[queryParamName]) {

      customSearchControl.execute(urlParams[queryParamName]);

    }

  }, true);

</script>
</div>
<div class="nhbot"></div>
