<div class="nhtop">
<div class="current-path wd">
	<p>
    <span itemscope="breadcrumb">
        <a href="{$INI['system']['wwwprefix']}" itemprop="url">
            <span itemprop="title">{$INI['system']['tenngan']}</span>
        </a>
    </span>
    &nbsp;&gt;&nbsp;
    <span itemscope="breadcrumb">
        <a href="{$INI['system']['wwwprefix']}/${friendly_link($pcate['name'])}.html" itemprop="url">
            <span itemprop="title">{$pcate['name']}</span>
        </a>
    </span>
</p>
</div></div>
<div class="ls_deal_of_category">
<div class="titleCategory"></div>
<!--{if !$countCate}-->	
<div class="no-deal">Hiện tại chưa có sản phẩm nào trong mục này, quý khách vui lòng trở lại sau.</div>	
<!--{/if}-->
    <div class="ls_cate_product2">
        <!--{loop $teams $index $one}-->
        <div class="cate_product_item2" ${($index+1)%5?'':'style="margin-right:0px"'}>
            <div class="cate_product_item_img2">
                <a href="${rewrite_team_id($one['id'])}">
                    <img alt="{$one['product']}, {$INI['system']['keywordseo']}" src="${team_image($one['image'])}" />
                </a>
            </div>
            <div class="cate_product_item_title2">
                <h1><a href="${rewrite_team_id($one['id'])}">{$one['product']}</a></h1>
            </div>
            <div class="cate_product_item_info2 hrteam">
                <span class="deal_common_info2 sale_prc2">
				<span class="icon_price"></span>
				<span class="price-offer">${formatMoney($one['team_price'])}<sup>đ</sup></span>
				<span class="space">|</span>
				<span class="del"><del>${formatMoney($one['market_price'])}</del><sup>đ</sup></span>
				</span>                 
            </div>
        </div>
        <!--{/loop}-->
    </div>
    <div class="clear"></div>
    {$pagestring}
</div>
<div class="nhbot"></div>

