<div class="showproduct_cate">
    <div class="product_top">
        <div class="product_top_title cate-{$item}"><h3><a href="${rewrite_cate_shop($cate_id)}" title="{$cate_name}">{$cate_name}</a></h3></div>
    </div>
    <div class="product_cate_content">
       <div class="hot-product_sale_{$item} mgt10 clearfix jcarousel-skin-nhanhoa">
    <ul class="slide-hot-pr">
	<!--{loop $team_cate $one}-->
		<li>
            <div class="dispImg ftp">
                <a href="${rewrite_team_id($one['id'])}">
                    <img src="${team_image($one['image'])}" alt="{$one['product']}" width="186" height="186"/>
                </a>
			<!--{if $one['market_price']}-->	
				<span class="lb-sale1"><b>-${round(moneyit((100*($one['market_price'] - $one['team_price'])/$one['market_price'])))}%</b></span> 
			<!--{/if}-->	
			</div>
            <div class="title"><a href="${rewrite_team_id($one['id'])}" title="{$one['product']}">{$one['product']}</a></div>
            <div class="desImg">
				<span class="fl fs14"><b class="clPrice fs16">${formatMoney($one['team_price'])} {$currency}</b>
                </span>
			<!--{if $one['market_price']}-->	
                <span class="fl cl66 txtout">${formatMoney($one['market_price'])} {$currency}</span>
				<br/>
			<!--{/if}-->
			</div>
        </li>       
    <!--{/loop}-->                 
            </ul>
	<div class="product_top_control"><a href="${rewrite_cate_shop($cate_id)}">
	<span class="v7inview">Xem tiếp</span><br/>
	<span class="v7productnum">Tất cả {$count} sản phẩm</span>
	</a></div>		
</div>
    </div>
</div>
<script type="text/javascript">   
jQuery(document).ready(function() {
    $('.hot-product_sale_{$item}').jcarousel({
        auto: 0,
        scroll: 1,
        wrap: 'circular',
        animation: 500,
        iniFallbackDimension: 90
     });
});
</script> 