<!--{include header}-->
<div class="des-pro">
							<article class="descriptions">
							<!--{include block_left_page}-->	
								<div class="descriptions-inner-page">
								    <div class="titleheader_div">
							           <p class="titleheader">{$pagetitle}</p>
						            </div>
						            <p class="line_header"></p>
									<div class="dHelp des-info">
							            <div class="content-help">
										
			<form id="RegisterForm" name="RegisterForm" method="post" action="#">
			<div class="col_middle_payment fleft editer register-popup">
			<div class="reg-note" style="margin-bottom: 20px;margin-left: 0;"><span style="float:left;margin-top:3px;margin-left:3px;color:red;">» Vui lòng nhập đầy đủ thông tin bên dưới.</span></div>
            <p class="p_info_add p_input">
                <span class="info_add f_bold cl_black_4">Họ &amp; tên<font class="cl_red"> *</font></span>
                <input class="fill_input" data-val="true" data-val-required="Vui l&amp;#242;ng nhập họ t&amp;#234;n" id="FullName" name="FullName" placeholder="Họ &amp; tên" type="text" value="">
            </p>
            <p class="p_info_add p_input reg_error"><span class="cl_red"><span class="field-validation-valid" data-valmsg-for="FullName" data-valmsg-replace="true"></span></span></p>
            <p class="p_info_add p_input">
                <span class="info_add f_bold cl_black_4">Email</span>
                <input class="fill_input" data-val="true" data-val-regex="Email kh&amp;#244;ng hợp lệ" data-val-regex-pattern="^[-!#$%&amp;amp;&amp;#39;*+/0-9=?A-Z^_a-z{|}~](\.?[-!#$%&amp;amp;&amp;#39;*+/0-9=?A-Z^_a-z{|}~])*@[a-zA-Z](-?[a-zA-Z0-9])*(\.[a-zA-Z](-?[a-zA-Z0-9])*)+$" id="Email" name="Email" placeholder="Email" type="text" value="">
            </p>
            <p class="p_info_add p_input reg_error"><span class="cl_red"><span class="field-validation-valid" data-valmsg-for="Email" data-valmsg-replace="true"></span></span></p>
            <p class="p_info_add p_input">
                <span class="info_add f_bold cl_black_4">Điện thoại<font class="cl_red"> *</font></span>
                <input class="fill_input" data-val="true" data-val-regex="Kh&amp;#244;ng hợp lệ, số di động bắt đầu bằng 09 hoặc 01 v&amp;#224; đủ số" data-val-regex-pattern="09\d{8}|01\d{9}" data-val-required="Vui l&amp;#242;ng nhập số điện thoại di động" id="Mobile" name="Mobile" placeholder="Số điện thoại di động" type="text" value="">
            </p>
            <p class="p_info_add p_input reg_error"><span class="cl_red"><span class="field-validation-valid" data-valmsg-for="Mobile" data-valmsg-replace="true"></span></span></p>
            <p class="p_info_add p_input">
                <span class="info_add f_bold cl_black_4">Chức vụ<font class="cl_red"> *</font></span>
                <input class="fill_input" data-val="true" data-val-required="Vui l&amp;#242;ng nhập chức vụ" id="Position" name="Position" placeholder="Chức vụ" type="text" value="">
            </p>
            <p class="p_info_add p_input reg_error"><span class="cl_red"><span class="field-validation-valid" data-valmsg-for="Position" data-valmsg-replace="true"></span></span></p>
            <p class="p_info_add p_input">
                <span class="info_add f_bold cl_black_4">Tên doanh nghiệp<font class="cl_red">*</font></span>
                <input class="fill_input" data-val="true" data-val-required="Vui l&amp;#242;ng nhập t&amp;#234;n doanh nghiệp" id="CompanyName" name="CompanyName" placeholder="Tên hoặc thương hiệu" type="text" value="">
            </p>
            <p class="p_info_add p_input reg_error"><span class="cl_red"><span class="field-validation-valid" data-valmsg-for="CompanyName" data-valmsg-replace="true"></span></span></p>
            <p class="p_info_add p_input">
                <span class="info_add f_bold cl_black_4">Website</span>
                <input class="fill_input" id="Website" name="Website" placeholder="Website của doanh nghiệp" type="text" value="">
            </p>
            <p class="p_info_add p_input">
                <span class="info_add f_bold cl_black_4">Địa chỉ<font class="cl_red"> *</font></span>
                <input class="fill_input" data-val="true" data-val-required="Vui l&amp;#242;ng nhập địa chỉ" id="Address" name="Address" placeholder="Địa chỉ" type="text" value="">
            </p>
            <p class="p_info_add p_input reg_error"><span class="cl_red"><span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span></span></p>
            <p class="p_info_add p_input">
                <span class="info_add f_bold cl_black_4">Tỉnh/Thành phố<font class="cl_red"> *</font></span>
                         <select data-val="true" data-val-required="Vui lòng chọn thành phố" name="CityId" id="CityId" class="">
                    <option value="0">--Chọn thành phố--</option>
                    <option value="Hồ Chí Minh">Hồ Chí Minh</option>
                    <option value="hà Nội">Hà Nội</option>
                </select>
            </p>
            <p class="p_info_add p_input">
                <span class="info_add f_bold cl_black_4">Hợp tác</span>
                  <select class="" id="BusinessType" name="BusinessType">
                    <option value="Khác">Khác</option>
                    <option value="Bán sản phẩm">Bán sản phẩm</option>
                    <option value="Quảng bá dịch vụ">Quảng bá dịch vụ</option>
                </select><br class="clean">
            </p>
            <p class="p_info_add p_input">
                <span class="info_add f_bold cl_black_4">Đề xuất</span>
                <textarea class="fill_input" cols="20" id="Description" name="Description" placeholder="Vui lòng nhập đề xuất, càng cụ thể càng tốt" rows="2" style="height:100px;"></textarea>
            </p>       
            <div class="">
                <span class="regist_bus" style="margin: 20px;float: left;"><a href="javascript:void(0)" class="btnv5 register"></a></span>
				<div class="reg_loading">
                    <img alt="" src="/img/loading.gif">
				</div>
            </div>
        </div>
		</form>
										</div>
						            </div>
								</div>
							</article>
						</div>
<div class="clear"></div>
<!--{include footer}-->
