<!--{include header}-->
<div class="current-path wd">
	<a class="aHome" href="{$INI['system']['wwwprefix']}/mua-hang-gia-goc.html"></a>
	<p>
    <span itemscope="breadcrumb">
        <a href="{$INI['system']['wwwprefix']}" itemprop="url">
            <span itemprop="title">{$INI['system']['tenngan']}</span>
        </a>
    </span>
    &nbsp;&gt;&nbsp;
    <span itemscope="breadcrumb">
        <a href="{$INI['system']['wwwprefix']}/tin-tuc/" itemprop="url">
            <span itemprop="title">Tin tức</span>
        </a>
    </span>
	&nbsp;&gt;&nbsp;
    <span itemscope="breadcrumb">
        <a href="${rewrite_news_cat($pa['id'])}" itemprop="url">
            <span itemprop="title">{$pa['name']}</span>
        </a>
    </span>
</p>
	</div>
<div class="mod-description p20 leftNews">
	<div id="mpfZone_4" class="column">          
<div class="">
    <h3 class="f-14 catetitle-4">
        <strong><a class="clor3" href="${rewrite_news_cat($pa['id'])}">{$pa['name']}</a></strong>
    </h3>
<!--{loop $newss $index $news}-->
	<div class="txtShort padT10">
	<!--{if $news['image']!=''}-->
        <a href="${rewrite_news_id($news['id'])}" style="display : block;">
            <img src="${team_image($news['image'],true)}" class="itemblogNews" alt="{$news['title']}"></a>
	<!--{/if}-->		
        <div class="f-13">
		<h4 class="f-14 padB4" style="min-height:20px;">
            <a class="clorBlue" href="${rewrite_news_id($news['id'])}"><strong>{$news['title']}</strong>
            </a> 
        </h4>{$news['news_desc']}
        </div>
	</div>
<!--{/loop}-->	
</div>
</div>
    <div class="clear"></div>
     <div class="clear"></div>
    {$pagestring}
</div>
<!--{include block_left_news}-->
<div class="clear"></div>
<!--{include footer}-->
