.clear {
    clear: both
}

.left {
    float: left
}

.hide {
    display: none!important
}

.divMainBlock {
    background: none repeat scroll 0 0 #f8f8f8;
    border-radius: 4px;
    float: left
}

#divThongTinDeal {
    float: left;
    width: 100%
}

.divBlock {
    background: #f8f8f8
}

.divDealItem {
    width: 790px;
    margin-left: 10px
}

.divDealItem .divDealName {
    width: 100%;
    position: relative
}

.divDealItem .divDealName .divSaleOff {
    background: transparent url("images/Discount_Tag.png") no-repeat left top;
    position: absolute;
    height: 83px;
    width: 64px;
    right: -4px;
    top: -6px;
    padding-right: 10px;
    line-height: 100px;
    text-align: center
}

.divDealItem .divDealName .divSaleOff span {
    color: #fff;
    font-size: 14pt;
    font-weight: bold;
    width: 100%
}

.divDealItem .divDealName .divTitle {
    padding: 10px 76px 10px 10px;
    text-align: justify;
    color: #232323;
	height:45px
}

.divDealInfo {
    float: left;
    width: 100%
}

.divDealItem .divLeft {
    float: left;
    width: 233px
}

.divDealItem .divDealInfo .divLeft .divPriceTag {
    height: 85px;
    position: relative
}

.divDealItem .divDealInfo .divLeft .divPrice {
    background-image: url("images/BgPrice.png");
    background-repeat: no-repeat;
    height: 108px;
    left: -35px;
    position: absolute;
    top: 0;
    width: 281px;
    z-index: 999
}

.divDealItem .divDealInfo .divLeft .divPriceTag_soldOut .divPriceTag,.divDealItem .divDealInfo .divLeft .divPriceTag_expired .divPriceTag {
    height: 125px
}

.divDealItem .divDealInfo .divLeft .divPriceTag_soldOut .divPrice {
    background: transparent url("images/BgPrice_soldOut.png") no-repeat 0 0;
    height: 108px;
    left: -45px;
    position: absolute;
    top: 0;
    width: 281px;
    z-index: 9
}

.divDealItem .divDealInfo .divLeft .divPriceTag_expired .divPrice {
    background: transparent url("images/BgPrice_expired.png") no-repeat 0 0;
    height: 108px;
    left: -45px;
    position: absolute;
    top: 0;
    width: 281px;
    z-index: 9
}

.divDealItem .divDealInfo .divLeft .divPrice div {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    line-height: 105px;
    text-align: left;
    padding-left: 90px
}
.divDealItem .divDealInfo .divLeft .detail_timer{
	float:left;
	height:32px;
	background:url(images/clock_d.png) no-repeat;
	padding-left:38px;
	line-height:32px;
	font-size:18px;
	color:#FF7000;
	font-weight:bold;
	margin:10px 0 10px 34px
	
}
.divDealItem .divDealInfo .divLeft .divBtnBuy {
    float: left;
    width: 198px;
    position: relative;
    z-index: 10
}

.divDealItem .btnMuaNgay {
    background: transparent url("images/Btn_mua.png") no-repeat 0 0;
    display: block;
    height: 45px;
    margin: auto;
    width: 140px
}

.divDealItem .btnMuaNgay:hover {
    background: transparent url("images/Btn_mua.png") no-repeat 0 -45px
}

.divDealItem .divDealInfo .divLeft .divThoiGian {
    background: transparent url("images/Frame_ThoiGian2.png") no-repeat -1px 0;
    height: 200px;
    width: 100%
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div00 {
    height: 40px;
    width: 205px;
    margin: 0 auto;
    line-height: 45px;
    text-align: center
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div01 label,.div02 span,.div03 {
    font-weight: bold;
    color: #232323!important
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div01 span {
    font-size: 22px;
    font-weight: bold;
    color: #84b005
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div01 span.like {
    font-size: 15px;
    height: 100%;
    display: block;
    padding-left: 10px;
    background: transparent url("images/add_wishlist_bg.png") no-repeat left center
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div01 span.liked {
    font-size: 15px;
    height: 100%;
    display: block;
    padding-left: 10px;
    background: transparent url("images/add_wishlist_bg.png") no-repeat left center;
    color: red
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div01 a:hover {
    text-decoration: underline
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div02 {
    line-height: 28px;
    height: 60px
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div02 label {
    font-size: 16pt;
    color: #f77a00
}

.divDealItem .divDealInfo .divLeft .divThoiGian .divCProgress {
    background: transparent url("images/BgPersonBuy.png") no-repeat center center;
    height: 24px
}

.divDealItem .divDealInfo .divLeft .divThoiGian .divCProgress .divProgress {
    background: transparent url("images/Progress.png") no-repeat 3px 0;
    height: 24px
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div03 {
    text-align: center;
    line-height: 23px
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div03 span {
    font-weight: bold;
    font-size: 15px;
    display: block;
    width: 100%
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div03 .deal_value {
    float: left;
    width: 48%
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div03 .deal_value span {
    text-decoration: line-through
}

.divDealItem .divDealInfo .divLeft .divThoiGian .div03 .deal_save {
    float: right;
    width: 48%
}

.divDealItem .divDealInfo .divLeft .divShare {
    background: transparent url("images/BgShare.png") no-repeat 100px 0;
    height: 35px;
    padding: 5px 0 0 10px;
    font-weight: bold;
    color: #232323!important
}

.divDealItem .divDealInfo .divLeft .divShare a {
    display: block;
    float: left;
    height: 28px;
    width: 28px;
    margin-left: 12px
}

.divDealItem .divRight {
    float: left;
    width: 552px
}
.divDealItem .divRight .cachgiaohang{
	float:left;
	width:35%;
	padding-top:20px;font-weight:bold;
	font-size:16px;
	color:orange;
	margin-left:10px;	
}
.divDealItem .divRight .cachgiaohang .giao_voucher{
	background:url(images/icon_giaovoucher2.png) no-repeat;
	height:40px; width:40px; float:left;
	margin-top:-10px; margin-right:15px;
}
.divDealItem .divRight .cachgiaohang .giao_product{
	background:url(images/icon_giaosanpham2.png) no-repeat;
	height:40px; width:40px; float:left;margin-top:-10px;margin-right:15px;
}
.divDealItem .divRight .divNotOpenDeal {
    position: absolute;
    top: 46%;
    width: 100%;
    display: block;
    left: 0;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 28px;
    color: #fff;
    text-align: center;
    background: none repeat scroll 0 0 rgba(255,0,0,.5);
    z-index: 100
}

.divDealItem .divDealFeature {
    width: 100%;
    float: left;
    margin-top: 15px
}

.divDealItem .divDealFeature .dealCondition {
    width: 49%;
    float: left;
    position: relative;
    border-radius: 5px;
    background-color: #fff
}

.divDealItem .divDealFeature .dealFeature {
    width: 49%;
    float: right;
    position: relative;
    border-radius: 5px;
    background-color: #fff
}

.divDealItem .divDealFeature .top_cover,.divDealItem .divDealDetail .top_cover {
    position: absolute;
    width: 192px;
    height: 40px;
    background: transparent url('images/top_cover.png') no-repeat 0 0;
    top: -7px;
    left: 20px;
    font-weight: bold;
    line-height: 37px;
    font-size: 14px;
    text-align: center;
    color: #fff
}

.divDealItem .divDealFeature .dealContent,.divDealItem .divDealDetail .dealContent {
    width: 90%;
    padding-top: 40px;
    line-height: 23px;
    margin: 20px auto
}

.divDealItem .divDealDetail {
    width: 100%;
    float: left;
    position: relative;
    border-radius: 5px;
    margin-top: 15px;
    color: #232323;
    background: url(images/dt_prd_bg_rpx.png) repeat-x left top #f8f8f8
}

.divDealItem .divDealDetail .top_cover {
    background: transparent url('images/top_cover_2.png') no-repeat 0 0;
    color: #000
}

.divDealItem .divDealDetail .dealContent img {
    max-width: 680px
}

.divDealItem .divBuyBottom {
    width: 100%;
    height: 75px;
    float: left;
    margin-top: 15px;
    background: #f8f8f8;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    line-height: 83px;
    box-shadow: 3px 3px 3px #000;
    margin-bottom: 20px
}

.divDealItem .divBuyBottom .div01 {
    float: left;
    width: 220px;
    background: transparent url('images/separate_1.png') no-repeat right center
}

.divDealItem .divBuyBottom .div01 .price {
    font-weight: bold;
    color: #84b005;
    font-size: 22px
}

.divDealItem .divBuyBottom .div02 {
    float: left;
    width: 177px;
    background: transparent url('images/separate_1.png') no-repeat right center;
    line-height: 20px;
    text-align: left;
    padding: 20px 0 0 20px;
    height: 55px
}

.divDealItem .divBuyBottom .div02 label {
    width: 80px;
    display: block;
    float: left
}

.divDealItem .divBuyBottom .div02 .price {
    font-weight: bold
}

.divDealItem .divBuyBottom .div02 .old {
    text-decoration: line-through
}

.divDealItem .divBuyBottom .div03 {
    float: left;
    padding-left: 20px;
	padding-top:7px;
}

.divDealItem .divBuyBottom .div03 .price {
    font-size: 25px;
    color: #f77a00;
    font-weight: bold;
    float: left;
    line-height: 62px;
    display: block
}

.divDealItem .divBuyBottom .div03 div.divMua {
    float: left;
    padding-left: 30px;
    padding-top: 12px
}

.divDealItem .divBuyBottom .div03 .dealSoldOut {
    text-align: center;
    font-size: 28px;
    color: #f77a00;
    padding: 0;
    font-weight: bold
}

.divDealItem .divBuyBottom .div03 .dealExpired {
    text-align: center;
    font-size: 28px;
    color: #232323;
    padding: 0;
    font-weight: bold
}

.divDealItem .divBuyShadow {
    width: 100%;
    height: 17px;
    display: none;
    background: transparent url('images/buy_shadow.png') no-repeat center center;
    float: left;
    margin-top: 2px
}

.hotdealMenu {
    height: 46px;
    width: 790px;
    margin-left: 10px;
    float: left;
    background: transparent url('images/hotdeal_mn.png') repeat-x center center;
    border-radius: 5px;
    line-height: 46px;
    margin: 10px 0 10px 10px;
    position: relative
}

.hotdealMenu li {
    float: left;
    background: transparent url('images/hotdeal_mn_separate.png') no-repeat right center;
    padding-right: 3px;
    list-style: none
}

.hotdealMenu li a.first {
    border-radius: 5px 0 0 5px
}

.hotdealMenu li a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    padding: 0 30px;
    display: block
}

.hotdealMenu li a.active,.hotdealMenu li a:hover {
    background: transparent url('images/hotdeal_mn_active.png') repeat-x center center;
    position: relative
}

.hotdealMenu li a .arrow {
    background: transparent url("images/arrow_hot_menu.png") no-repeat center bottom;
    display: block;
    height: 5px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    display: none
}

.hotdealMenu li a.active .arrow {
    display: block
}

.hotdealMenu .loading {
    background: none repeat scroll 0 0 #ff0;
    border-radius: 5px 5px 5px 5px;
    display: none;
    left: 300px;
    line-height: 20px;
    padding: 10px;
    position: absolute;
    top: 34px;
    z-index: 10
}

.comment_t_title {
}

.xdeal_cart_now {
    position: fixed;
    top: 58%;
    cursor: pointer
}

.xdeal_cart_now .xdeal_cart_now_shift {
    position: absolute;
    left: -52px;
    top: 0;
    background-color: #00b0f0;
    border-radius: 5px 0 0 5px;
    text-align: center;
    padding: 5px;
    color: #fff;
    z-index: 8999;
    font-weight: bold
}

.xdeal_cart_now .xdeal_cart_now_shift a {
    background-color: #fff;
    border-radius: 5px;
    display: block
}

.xdeal_cart_now .xdeal_cart_now_shift:hover {
    color: #305f10
}

.divDealComment .divLeft {
    float: left;
    width: 68px
}

.divDealComment .divRight {
    float: left;
    width: 596px
}

.divDealComment .divRight textarea {
    border: 1px solid silver;
    height: 60px;
    overflow: auto;
    padding: 3px 0 3px 3px;
    resize: none;
    width: 100%;
    font-family: Arial;
    font-size: 10pt;
    color: #888
}

.divFloatRight {
    float: right;
    padding-top: 3px
}

.btnGreen {
    background-image: url('images/btnLogin.png');
    background-position: -2px 0;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 3px 0 0;
    text-align: center;
    width: 92px;
    height: 27px;
    line-height: 20px
}

.btnGreen:hover {
    color: #fff;
    background-position: -2px -29px
}

.divCommentNote, .divReplyNote {
    float: left;
    padding-left: 68px;
    line-height: 30px;
    color: #888
}

.divCommentNoteSuccess, .divReplyNoteSuccess{
    margin-bottom: 10px;
    border: 1px solid #577304;
    background-color: #97c707;
    color: #fff;
    width: 545px;
    padding: 2px 0 2px 0;
    display: none
}

.divCommentNoteError, .divReplyNoteError {
    margin-bottom: 10px;
    border: 1px solid #b00000;
    background-color: #ff4848;
    color: #fff;
    width: 546px;
    padding: 2px 0 2px 0;
    display: none
}

.divCommentNoteSuccess span,.divCommentNoteError span,.divReplyNoteSuccess span,.divReplyNoteError span {
    font-weight: bold;
    padding-left: 10px
}

.divCommentContent {
    float: left;
    max-height: 350px;
    overflow-y: auto;
    padding-top: 10px;
    width: 100%;
    background-color: #f8f8f8
}

.divCommentItem {
    position: relative;
    float: left;
    margin-top: 10px
}

.divCommentItem .divLeft {
    margin-top: 5px;
    float: left;
    width: 70px
}

.divCommentItem .divLeft img {
    width: 60px;
    height: 60px;
    border: 1px solid #ccc
}

.divCommentItem .divRight {
    border: 1px solid #dedede;
    border-radius: 4px 4px 4px 4px;
    float: left;
    margin-left: 5px;
    width: 640px
}

.divCommentItem .divUserAndTime .divUser {
    float: left;
    padding: 10px
}

.divCommentItem .divUserAndTime .divUser span {
    font-weight: bold;
    color: #18538c!important
}

.divCommentItem .divUserAndTime .divTime {
    float: right;
    padding: 10px
}

.divCommentItem .divUserAndTime .divTime span {
    padding-left: 10px
}

.divCommentItem .divContent {
    border-top: 1px solid #dfdfdf;
    margin: 0 10px;
    padding: 10px 0
}

.divCommentItem .spTalked {
    background-image: url("images/iconTalk.jpg");
    display: block;
    height: 16px;
    left: 65px;
    position: absolute;
    top: 14px;
    width: 11px
}

.divLoadingGopY {
    margin: 6px 10px;
    display: none
}

.divIMGSlideShowListDeal {
    height: 215px!important;
    width: 340px!important
}

.divIMGSlideShowListDeal .ws_images img {
    height: 215px!important;
    width: 340px!important
}

#divdebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 39px;
    z-index: 8999;
    box-shadow: 3px 3px 0 0 #ccc
}

#divdebar-1 {
    width: 1000px;
    margin: 0 auto;
    height: 100%
}

#divdebar-2 {
    position: relative;
    width: 770px;
    float: right;
    line-height: 47px;
    height: 100%;
    margin-right: 10px;
    background: transparent url(images/debar_09_12_2.png) no-repeat left top;
    color: #fff
}

#divdebar-2 span {
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 200px;
    font-size: 15pt
}

#divdebar-2 a {
    display: block;
    float: right;
    width: 160px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0
}

.all_option_area {
    display: block;
    width: 100%;
    float: left;
    background-color: #fff;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.select_option {
    background: none repeat scroll 0 0 rgba(255,255,255,.24);
    width: 460px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 5px;
    float: left;
    display: none;
    z-index: 9999;
    position: fixed
}

.top_pop_left {
    float: left;
    line-height: 48px
}

.select_title {
    width: 100%;
    line-height: 48px;
    background: url(images/v2/bg_popup.jpg) repeat-x left top;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    float: left;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.btnclose {
    float: right;
    cursor: pointer;
    width: 24px;
    line-height: 48px;
    margin-top: 10px;
    margin-right: 3px
}

.btnclose:hover {
    cursor: pointer
}

.option_list {
    width: 100%;
    border-top: solid 0 gray;
    float: left;
    padding: 0 0
}

.optionsOver {
  
}

.option_item {
    width: 200px;
    float: left;
    line-height: 25px
}

.option_name {
    float: left;
    width: 120px;
    text-align: right;
    font-family: Tahoma;
    font-size: 11px;
    color: #0093d0;
    font-weight: bold
}

.option_quantity {
    float: left;
    margin-left: 5px
}

.option_quantity input {
    width: 60px;
    border: solid 1px #cdcdcd;
    border-radius: 3px;
    text-align: center
}

.select_option_control {
    float: left;
    text-align: right;
    width: 100%;
	margin-top:10px;
    margin-bottom: 15px
}

.control_button {
    margin-right: 5px;
    cursor: pointer
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
    display: none
}

.op_select_notice i{
    float: left;
    width:98.5%;
	border: 1px solid #d01e5e;
	font-style:normal;
	padding:3px;
	background: #ffdcd7;
	color: #d01e5e;
    margin-top: 5px;
    margin-bottom: 5px;
}

.op_select_notice table {
    width: 100%;
    display: none
}

#preview {
    position: absolute;
    border: 1px solid #63a70a;
    display: none;
    color: #fff;
    background: #fff;
    float: left;
    width: 204px
}

.preview_title {
    float: left;
    width: 100%;
    background-color: #69ae0e;
    height: 22px
}

.preview_img {
    background: #63a70a;
    padding: 2px 2px 2px 2px;
    float: left
}

.preview_img img {
    width: 200px;
    height: 200px
}

.title_prrr {
    display: block;
    float: left;
    position: relative;
    top: -12px;
    left: 10px;
    font-weight: bold
}

.preview {
    width: 50px;
    height: 50px
}

.img_ls {
    list-style: none
}

.img_ls li {
    float: left;
    list-style: none;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
    text-align: center;
    border-radius: 3px;
    width: 120px;
    border: solid 1px #fff
}

.p_sml_img_sls {
    width: 120px;
    height: 156px;
    border: solid 1px #cdcdcd;
    border-radius: 3px;
    float: left;
    margin-left: 1px
}

.cb_select_opt {
    width: 100%;
    float: left;
    margin-bottom: 2px;
    height: 1px
}

.cb_select_opt checkbox {
    float: left
}

.label_check {
    display: block;
    margin: auto;
    position: relative;
    top: -2px;
    text-transform: uppercase;
    cursor: pointer;
    display: none
}

.cb_cll_opt {
    float: left;
    position: relative;
    top: 3px;
    left: 1px
}

.img_ls li a {
    background-image: none;
    width: 50px
}

.divIMGSlideShow .ws_bullets {
    bottom: -30px;
    left: 50%
}

.divIMGSlideShow .ws_bullets div {
    left: -50%
}

.divIMGSlideShow {
    zoom: 1;
    position: relative;
    width: 643px;
    height: 397px;
	overflow:hidden;
    margin: 0 auto;
    z-index: 1
}

.divIMGSlideShow .ws_shadow {
    width: 100%;
    background: none left 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: -0;
    z-index: -1
}

.divIMGSlideShow .ws_images {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px
}

.divIMGSlideShow .ws_images a {
    color: transparent
}

.divIMGSlideShow .ws_images img {
    top: 0;
    left: 0;
    border: none 0;
    max-width: none;
    height: 350px;
    width: 545px
}

.divIMGSlideShow a {
    text-decoration: none;
    outline: none;
    border: none
}

.divIMGSlideShow .ws_bullets {
    bottom: -17px;
    float: left;
    font-size: 0;
    padding: 0 0 10px 145px;
    position: absolute;
    z-index: 1000;
    width: 120px
}

.divIMGSlideShow .ws_bullets div {
    position: relative;
    float: left
}

.divIMGSlideShow .ws_bullets a {
    background: url("images/bullet2.png") no-repeat scroll left 50% transparent;
    color: transparent;
    float: left;
    height: 19px;
    margin-left: 2px;
    position: relative;
    text-indent: -1000px;
    width: 19px
}

.divIMGSlideShow .ws_bullets a.ws_selbull,.divIMGSlideShow .ws_bullets a:hover {
    background-position: right 50%
}

.divIMGSlideShow a.ws_next,.divIMGSlideShow a.ws_prev {
    position: absolute;
    display: none;
    top: 50%;
    margin-top: -28px;
    z-index: 60;
    height: 62px;
    width: 38px;
    background-image: url(images/arrows.gif)
}

.divIMGSlideShow a.ws_next {
    background-position: 100% 0;
    right: -8px
}

.divIMGSlideShow a.ws_prev {
    left: -8px;
    background-position: 0 0
}

.divIMGSlideShow a.ws_next:hover {
    background-position: 100% 100%
}

.divIMGSlideShow a.ws_prev:hover {
    background-position: 0 100%
}

* html .divIMGSlideShow a.ws_next,* html .divIMGSlideShow a.ws_prev {
    display: block
}

.divIMGSlideShow:hover a.ws_next,.divIMGSlideShow:hover a.ws_prev {
    display: block
}

.divIMGSlideShow .ws-title {
    position: absolute;
    bottom: 50px;
    left: 0;
    margin-right: 5px;
    z-index: 50;
    padding: 12px;
    color: #f9fbfb;
    text-transform: uppercase;
    background: #000;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    font-size: 18px
}

.divIMGSlideShow .ws-title div {
    padding-top: 5px;
    font-size: 13px;
    text-transform: none
}

.divIMGSlideShow .ws_bullets a img {
    text-indent: 0;
    display: block;
    bottom: 16px;
    left: -50px;
    visibility: hidden;
    position: absolute;
    -moz-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    border: 5px solid #fff
}

.divIMGSlideShow .ws_bullets a:hover img {
    visibility: visible
}

.divIMGSlideShow .ws_bulframe div div {
    height: 90px;
    overflow: visible;
    position: relative
}

.divIMGSlideShow .ws_bulframe div {
    left: 0;
    overflow: hidden;
    position: relative;
    width: 100px
}

.divIMGSlideShow .ws_bullets .ws_bulframe {
    display: none;
    bottom: 20px;
    left: 2px;
    overflow: visible;
    position: absolute;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    border: 5px solid #fff
}

.divIMGSlideShow .ws_bulframe span {
    display: block;
    position: absolute;
    bottom: -11px;
    margin-left: -9px;
    left: 50px;
    background: url(images/triangle.png);
    width: 15px;
    height: 6px
}

.login_box,.checkbrowser {
    display: none;
    width: 380px;
    background-color: #fff;
    z-index: 9999;
    position: fixed;
    background: none repeat scroll 0 0 rgba(255,255,255,.24);
    border-radius: 3px;
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #454545
}

.login_all_b {
    display: block;
    width: 100%;
    float: left;
    background-color: #fff;
    float: left;
    border-radius: 3px
}

.login_title {
    width: 100%;
    line-height: 48px;
    background: url(images/new_pop_top_img_bg.png) repeat-x left top;
    background-color: #5b9d05;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    float: left;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px
}

.login_require {
    color: red
}

.login_content {
    width: 100%;
    float: left;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 15px
}

.login_item {
    width: 100%;
    float: left;
    line-height: 28px
}

.login_ileft {
    width: 100px;
    float: left;
    text-align: right
}

.login_iright {
    float: left;
    margin-left: 5px
}

.login_input {
    border: solid 1px #cdcdcd;
    border-radius: 3px;
    width: 250px;
    float: left;
    height: 20px;
    margin-top: 4px
}

.login_area {
    border: solid 1px #cdcdcd;
    border-radius: 3px;
    width: 360px;
    float: left;
    height: 80px;
    margin-top: 4px
}

.login_notice {
    font-style: italic;
    color: #a93700;
    float: left;
    margin-left: 100px;
    display: none
}

.btnloginclose {
    float: right;
    cursor: pointer;
    width: 15px;
    line-height: 48px;
    margin-top: 10px;
    margin-right: 3px
}

.googleChromIcon,.mozillaFirefoxIcon {
    height: 32px;
    width: 32px;
    display: inline-block;
    background: url(images/browser_logos-32.png) no-repeat 0 center
}

.mozillaFirefoxIcon {
    background: url(images/browser_logos-32.png) no-repeat -38px center
}

.btnLoginButton {
    background-image: url("images/btnLogin.png");
    background-position: -2px 0;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-weight: bold;
    height: 27px;
    line-height: 20px;
    padding: 3px 0 0;
    text-align: center;
    width: 92px;
    float: right;
    padding-right: 15px
}

.btnLoginButton:hover {
    background-position: -2px -29px;
    color: #fff
}

.btnLink {
    color: #84b005!important
}

.btnLink:hover {
    text-decoration: underline
}

.login_loading_popup {
    float: right;
    padding-right: 10px;
    padding-top: 6px;
    display: none
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	background: #e0e0e0;
	overflow: hidden;
	position: relative;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}	
html ul.tabs li.active, html ul.tabs li.active a:hover  {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	clear: both;
	float: left; 
	width: 100%;
	background: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
}
.tab_content h2 {
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px dashed #ddd;
	font-size: 1.8em;
}
.tab_content h3 a{
	color: #254588;
}
.tab_content img {
	float: left;
	margin: 0 20px 20px 0;
	border: 1px solid #ddd;
	padding: 5px;
}
.dealtabs{
margin-left: 0;
margin-top: 1px;
margin-bottom: 0;
font: bold 12px Arial;
list-style-type: none;
height:45px;
}

.dealtabs li{
display: inline;
margin: 0;
}
.dealtabs li .nbr{
	border-right:none;
}
.dealtabs li a{
	text-decoration: none;
	position: relative;
	z-index: 1;
	padding: 0px 7px;
	height:45px;
	line-height:45px;
	float:left;
	display:block;
	width:113px;
	font-size:19px;
	text-transform:uppercase;
	text-align:center;
	color:#0093D9;
}

.dealtabs li a:hover{

}

.dealtabs li a.selected{
	background:#FFF;
	color:#000;
}

.dealtabs li a.selected:hover{ 
text-decoration: none;
}

.tabcontent{
display:none;
}

.dealInfo{
	float:left;
	padding:10px;
}
.dCountTime {background: url("images/v2/bg-time.png") repeat scroll 0 0 transparent;bottom: 8px;height: 41px;left: 8px;position: absolute;width: 172px;z-index:111;}
.dCountTime .pTime {color: White;float: left;font-size: 17px;font-weight: bold;margin-left: 1px;margin-top: 6px;}
.dCountTime .pTime i {float: left;margin: 0 5px 0 5px;text-align:center; width:32px}
.dCountTime .pTitleTime {clear: both;color: #999999;float: left;font-size: 10px;height: 13px;position: relative;top: -1px;width: 100%;}
.dCountTime .pTitleTime i {display: block;float: left;position: absolute;font-style:normal}
.introLocation {
	float: left;
	position: relative;
	padding-bottom: 15px;
	border-bottom: 1px solid #dcdcdc;
	width: 100%;
}
.locationDeal span {
	float: left;
	font-size: 16px;
	padding-bottom: 5px;
}
.points {
clear: left;
overflow: hidden;
}
.points li {
	clear: left;
	float: left;
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.points .icon i {
	color: #FFFFFF;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
}
#GMV{
	width:447px; height: 280px;
	margin-top:10px;
	border:1px solid #B6B6B6
}
.iPartner{
	float:left;
	background:#FFF;
	box-shadow: 1px 2px 3px #b4b4b4;
	-o-box-shadow: 1px 2px 3px #b4b4b4;
	-moz-box-shadow: 1px 2px 3px #b4b4b4;
	-webkit-box-shadow: 1px 2px 3px #b4b4b4;
	-ms-box-shadow: 1px 2px 3px #b4b4b4;
	width:248px;
	height:260px;
	margin-top:10px;
	padding:10px;

}
/*Redeal - MR.NHÂN 0972660089*/
.deal_out .Promo_dt_div.{padding:0 25px}
.deal_out .Promo_dt_cont{padding-top:25px; margin-left:25px; width:590px}
.deal_out .col_left{float:left;margin-right:16px;padding-bottom:5px}
.deal_out .col_right{padding-bottom:5px}
.deal_out .icon_st{width:100%;height:20px;margin-top:3px}
.deal_out .icon_st i{background: url("images/v2/star.png") no-repeat;width:22px;height:20px;float:left;margin-right:4px}
.deal_out .notice {padding:18px 0 0 0;clear:both;font-size:15px;}
.deal_out .email_div{background: url("images/v2/bg_popup.jpg") no-repeat;width:641px;height:73px;display:block;margin-top:15px}
.deal_out .email_div .title{color:#ffffff;font-size:13px;line-height:31px;margin-left:30px;margin-right:10px;float:left;margin-top:22px}
.deal_out .email_div input{background:#fff;height:29px;width:369px;border:1px solid #89b4d6;margin:21px 0;float:left;color:#1e1e1e;font-size:13px;padding:0 9px}
.deal_out .btn_send{height:48px;width:109px;background:url("images/v2/button_v5_1.png") no-repeat -357px -15px;float:left;margin:12px 10px;cursor:pointer}
.deal_out .btn_send:active{background-position:-357px -70px}
.deal_out .Promo_dt .link{color:#0095da}
.deal_out .Promo_dt .link.name{font-size:16px;margin-top:12px;margin-bottom:13px;font-weight:bold}
.deal_out .email_div .error{font-size: 15px;position: absolute;bottom: 2px;left: 125px;color: #851212;display:none;}
/*End Popup Redeal*/
#youcomment {
	background: url(images/v2/xinclude-icon.png) 0 -975px no-repeat;
	height: 50px;
	margin-left: 20px;
	padding-top: 65px;
	padding-left: 30px;
}
#youcomment span{
	font-size:18px;
	font-weight:bold;
	color:#FFF;
}
.dvTag{
	float:left;
	width:100%;
}

.dvTag a{
	color:#FFF;
	background:#F69;
	padding:5px;
	margin-left:10px;
}
.dvTag a:hover{
	text-decoration:underline;
}
.modAdCity{
	float:left;
	margin-bottom:10px;
	height:1900px;

}
.modAdCity img{
	width: 270px;
	margin-bottom: 5px;
}
.fb .highlights-cond, .fb .comment{
	padding:10px;
	float:left;
}
.fb .title{
	font-weight:bold;
}
.ithongtin{
	background:url(images/v2/tagdetail.png) no-repeat;
	height:83px;
	float:left;
	width:800px;
}
.inote{
	background:#fefccb;
	border:1px solid #e5db55;
	padding:7px;
	border-radius: 5px;
	margin-bottom:15px;
}
#scrollOther{
	float:left;
	width:710px;
	overflow:hidden;
}
.jcarousel-skin-thietketrangchu .jcarousel-container{}
.jcarousel-skin-thietketrangchu .jcarousel-direction-rtl{direction:rtl}
.jcarousel-skin-thietketrangchu .jcarousel-container-horizontal{width:710px}
.jcarousel-skin-thietketrangchu .jcarousel-container-vertical{width:315px;height:335px;padding:40px
20px}
.jcarousel-skin-thietketrangchu .jcarousel-clip{overflow:hidden}
.jcarousel-skin-thietketrangchu .jcarousel-clip-horizontal{width:710px;height:341px}
.jcarousel-skin-thietketrangchu .jcarousel-clip-vertical{width:315px;height:341px}
.jcarousel-skin-thietketrangchu  ul.slide-hot-pr li{width:164px;height:275px;
	margin-right:10px;
	margin-bottom:15px;
}
.jcarousel-skin-thietketrangchu .jcarousel-item-horizontal{margin-left:0;margin-right:10px}
.jcarousel-skin-thietketrangchu .jcarousel-direction-rtl .jcarousel-item-horizontal{margin-left:10px;margin-right:0}
.jcarousel-skin-thietketrangchu .jcarousel-item-vertical{margin-bottom:10px}
.jcarousel-skin-thietketrangchu .jcarousel-item-placeholder{background:#fff;color:#000}
#scrollOther ul.slide-hot-pr li .desImg {
width: 150px;
}
#scrollOther ul.slide-hot-pr li .desImg span{
	width:155px;
}
#scrollOther ul.slide-hot-pr .title a{
	width:150px;
}
#scrollOther .viewall{
	background:url(images/v2/viewall.jpg) no-repeat;
	width:796px;
	height:50px;
	display:block;
	float: left;
	margin-left: 110px;
}
.jssorn01 div { background-color: gray; }
            .jssorn01 div:hover, .jssorn01 .av:hover { background-color: #d3d3d3; }
            .jssorn01 .av { background-color: #fff; }
            .jssorn01 .dn, .jssorn01 .dn:hover { background-color: #555555; }
			.jssort02 .w
                {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                }
                .jssort02 .c
                {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 101px;
                    height: 67px;
                    border: #E6E6E6 2px solid;
                }
                .jssort02 .p:hover .c, .jssort02 .pav:hover .c, .jssort02 .pav .c 
                {
                	top: 0px;
                    left: 0px;
                    width: 101px;
                    height: 67px;
                    border: #4eb127 2px solid;
                }
                .jssort02 .p:hover .c, .jssort02 .pav:hover .c
                {
                    top: 0px;
                    left: 0px;
                    width: 101px;
                    height: 67px;
                    border: #4eb127 2px solid;
                }			
.jssord05l, .jssord05r, .jssord05ldn, .jssord05rdn{
            	position: absolute;
            	cursor: pointer;
            	display: block;
                background: url(images/v2/navigator.png) no-repeat;
                overflow:hidden;
            }
            .jssord05l { background-position: -10px -40px; }
            .jssord05r { background-position: -70px -40px; }
            .jssord05l:hover { background-position: -130px -40px; }
            .jssord05r:hover { background-position: -190px -40px; }
            .jssord05ldn { background-position: -250px -40px; }
            .jssord05rdn { background-position: -310px -40px; }	