<!--{include biz_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team($selector)}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Danh sách deal</h2>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="500">Tên deal</th><th width="80">Thành phố</th><th width="100">Ngày</th><th width="50">Đã mua</th>
					<th width="100">Giá bán</th><th width="120">Xem chi tiết</th></tr>
					<!--{loop $teams $index $one}-->
					<!--${$one['state'] = team_state($one)}-->
					<!--${ $href=$INI['system']['wwwprefix']."/".ThietKeTrangChu_SEO($city['name'])."/".ThietKeTrangChu_SEO($one['product'])."_".$one['id'].".html";}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
					<td>{$one['id']}</td>
						<td style="text-align:left;"><a class="deal-title" href="{$href}" target="_blank">{$one['product']}</a></td>
						<td>{$cities[$one['city_id']]['name']}<br/><b>{$groups[$one['group_id']]['name']}</b></td>
						<td>${date('d-m-Y',$one['begin_time'])}<br/>${date('d-m-Y',$one['end_time'])}</td>
						<td>{$one['now_number']}/{$one['min_number']}</td>
						<td>${number_format(moneyit($one['team_price']),0,'.','.')}<br/>${number_format(moneyit($one['market_price']),0,'.','.')}</td>
						<td class="op" nowrap><a href="/ajax/partner.php?action=teamdetail&id={$one['id']}" class="ajaxlink">xem chi tiết</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="7">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
