<!--{include biz_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="partner">
	<div id="content" class="clear mainwide">
        <div class="clear box">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head"><h2>Đổi mật khẩu</h2></div>
                <div class="sect">
                    <form id="login-user-form" method="post" action="/biz/settings.php" class="validator">
					<input type="hidden" name="id" value="{$partner['id']}" />
                        <div class="field">
                            <label>Tên truy cập</label>
                            <input type="text" size="30" name="username" id="partner-create-username" class="f-input" value="{$partner['username']}" readonly/>
                        </div>
                        <div class="field password">
                            <label>Mật khẩu mới</label>
                            <input type="password" size="30" name="password" id="settings-password" class="f-input" />
                            <span class="hint">Để trống nếu không muốn thay đổi</span>
                        </div>
                        <div class="field password">
                            <label>Nhập lại mật khẩu mới</label>
                            <input type="password" size="30" name="password2" id="settings-password-confirm" class="f-input" />
                        </div>
						<div class="act">
                            <input type="submit" value="Cập nhật" name="commit" id="partner-submit" class="formbutton"/>
                        </div>
                    </form>
                </div>
            </div>
            <div class="box-bottom"></div>
        </div>
	</div>

<div id="sidebar">
</div>

</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include biz_footer}-->
