<!--{loop $methods $one}-->
<li>
    <div class="thanhtoan_col1">
        <span class="thanhtoan_ico">
            <img src="/include/template/{$INI['skin']['template']}/css/images/{$one['linkimg']}" title="{$one['name']}" alt="{$one['name']}">
        </span>
    </div>
    <div class="thanhtoan_col2">
		<span class="thanhtoan_check">
            <input type="radio" value="{$one['id']}" class="thanhtoan_radio" name="PayMenthod" id="rdPaymentMenthod_{$one['id']}" checked="checked">
        </span>
        <span class="thanhtoan_title">{$one['name']}</span>
        <span class="thanhtoan_viewdetail">{$one['desc']}</span>
    </div>
</li>
<!--{/loop}-->
