<div class="personal_page">
    <div style="background-color:#fff;" id="NewsContent">
        <div class="divHeaderTitle"><a href="${rewrite_news_cat($pa['id'])}"><span>{$pa['name']}</span></a></div>
        <div class="divNewsItem">
            <div class="divTitle">
                <span><a href="#">{$news['title']}</a></span></div>
            <div class="clear"></div>
			<iframe src="//www.facebook.com/plugins/like.php?href=http://dealsaigon.com${rewrite_news_id($news['id'])}&amp;width=700&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=false&amp;height=80&amp;appId=1487201484840399" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:30px; width:700px;" allowTransparency="true"></iframe>
            <div class="divContent">{$news['detail']}</div>
        </div>
        <div class="clear"></div>
        <!--{if $news_others}-->
        <div class="divOtherNews">
            <div class="divTitle">Các tin đã đăng</div>
            <div class="divContent">
                <ul>
                    <!--{loop $news_others $index $one}-->
                    <li><a href="${rewrite_news_id($one['id'])}">{$one['title']}</a></li>
                    <!--{/loop}-->
                    
                </ul>
            </div>
        </div>
        <!--{/if}-->
    </div>
    </div>