<!--{include header}-->
<div class="des-pro">
							<article class="descriptions">
								<!--{include block_left_page}-->
								<div class="descriptions-inner-page">
								    <div class="titleheader_div">
							           <p class="titleheader">{$pagetitle}</p>
						            </div>
									<div class="dHelp des-info">
							            <div class="content-help">{$page['value']}</div>
						            </div>
									<div class="content-f"></div>
								</div>
							</article>
						</div>
<div class="clear"></div>
<!--{include footer}-->
