<!--{include manage_header}-->

<div id="bdw" class="bdw">

<div id="bd" class="cf">

<div id="partner">

	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_system('referral')}</ul>
	</div>

	<div id="content" class="clear mainwide">

        <div class="clear box">

            <div class="box-top"></div>

            <div class="box-content">

                <div class="head"><h2>Nguồn giới thiệu truy cập</h2></div>

                <div class="sect">

					<a href="/ajax/manage.php?action=website&id={$one['id']}" class="ajaxlink "><b style="color:red; font-size:15px">+Thêm website</b></a>
                    <table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">

					<tr class="forum_title_tr">
                    	<th width="50">ID</th><th width="200">Nguồn website/blog</th>
                        <th width="350">Mã nhúng</th><th width="100">Thao tác</th>
                  	</tr>

					<!--{loop $methods $method $one}-->

					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">

						<td>{$one['id']}</td>

						<td>{$one['name']}</td>

						<td><input value="?affiliate={$one['srcweb']}" style="width:300px"></td>
                        
					

						<td class="op" nowrap>
                    		<a href="/ajax/manage.php?action=websitedel&id={$one['id']}" class="ajaxlink" ask="Bạn có chắc xoá nguồn giới thiệu này không?">Xoá</a>
                       	</td>

					</tr>

					<!--{/loop}-->

					<tr><td colspan="6">{$pagestring}</tr>						

                    </table>

                </div>

            </div>

            <div class="box-bottom"></div>

        </div>

	</div>

<div id="sidebar">

</div>

</div>

</div> <!-- bd end -->

</div> <!-- bdw end -->

<!--{include manage_footer}-->