<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('confirmed')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                	<h2>{$titleorder}</h2>
                    <ul class="filter">
                        <li>
                        <form method="get">
							ID ĐH<input type="text" name="order_id" class="h-input number" style="width:50px" value="${htmlspecialchars($order_id)}" />
							--
                            Mã ĐH<input type="text" name="order_code" class="h-input number" style="width:50px" value="${htmlspecialchars($order_code)}" />
							--
							ID Sản phẩm<input type="text" name="team_id" class="h-input number" style="width:50px" value="${htmlspecialchars($team_id)}" />
							--
                            Email<input type="text" name="email" class="h-input" style="width:120px" value="${htmlspecialchars($email)}" />
							--
                            SĐT<input type="text" name="mobile" class="h-input number" style="width:90px" value="${htmlspecialchars($mobile)}" />
                            
		                    <input type="submit" value="Tìm" class="formbutton"  style="padding:1px 6px;"/>
                        </form>
                        </li>
                    </ul>
               	</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr class="forum_title_tr">
                        <th width="40">ID</th>
                        <th>Mã ĐH</th>
                        <th width="150">Tên deal</th>
                        <th width="200">Địa chỉ</th>
                        <th width="150">Khách hàng</th>
                        <th width="20" nowrap>SL</th>
                        <th width="40" nowrap>Đơn giá</th>
                        <th width="50" nowrap>T.Tiền</th>      
                        <th width="50" nowrap>Tình trạng</th>
                  	</tr>
					<!--{loop $team_orders $index $one}-->
                    <!--${
                    	$team = Table::Fetch('team', $one['team_id']);
                        $order = Table::Fetch('order', $one['order_id']);
                        $users = Table::Fetch('user', $order['user_id']);
                        $quantity = $one['quantity'];
                        $price = $team['team_price'];
                        $total = $quantity*$price;
                    }-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}
						<!--{if !$one['track']}-->
						<a href="/ajax/manage.php?action=editOrder&id={$one['id']}" class="ajaxlink"><img src="/img/edit.png" alt="Chỉnh sửa"></a>
						<!--{/if}-->
						</td>
						<td><a href="/ajax/manage.php?action=orderview&id={$one['id']}" class="ajaxlink">{$order['order_code']}</a></td>
                        <td>{$team['product']}</td>
						<td>{$order['address'].', '.get_name_local($order['district_id']).', '.get_name_local($order['province_id'])}</td>
						<td><a href="/ajax/manage.php?action=userview&id={$order['user_id']}" class="ajaxlink">{$users['realname']}<br/>{$users['mobile']}</a></td>
						<td>{$quantity}</td>
						<td>${formatMoney($price)}{$currency}</td>
						<td>${formatMoney($total)}{$currency}</td>				
						<td class="op" nowrap style="text-align:center">
                        <select name="cate" ONCHANGE="window.location='./{$current}.php?act=tracking&idd={$one['id']}&value='+this.options[this.selectedIndex].value">${Utility::Option($tracking, $one['track'])} </select>
                        </td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="10">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
