<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team($selector)}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
				
                    <h2>Sản phẩm</h2>: <span style="color:red; font-size:18px; font-weight:bold">{$count}</span>
                    <ul class="filter">
                        <li>
                        <form method="get">
							ID: <input type="text" name="id" class="h-input" value="${htmlspecialchars($id)}" >&nbsp;&nbsp;
                            Tên sản phẩm: <input type="text" name="ptitle" class="h-input" value="${htmlspecialchars($ptitle)}" >&nbsp;&nbsp;
							<select style="width:160px;" name="active" class="h-input">
							<option value="">Tất cả</option>
							<option value="0">Hiển thị</option>
							<option value="1">Đang ẩn</option>
							</select>
							<input type="submit" value="Tìm" class="formbutton"  style="padding:1px 6px;"/>
                        </form>
                        </li>
                    </ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="20">ID</th><th width="350">Tên deal</th><th width="70">Xem</th>
					<th width="80" nowrap>Chuyên mục</th><th width="100">Hiển thị</th>
					<th width="50">L.Mua</th><th width="60" nowrap>Giá</th><th width="140">Thao tác</th></tr>
					<!--{loop $teams $index $one}-->
					<!--${$oldstate = $one['state']}-->
					<!--${$one['state'] = team_state($one)}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</a></td>
						<td  style="text-align:left;">						
							<a class="deal-title" href="${rewrite_team_id($one['id'])}" target="_blank" title="{$one['title']}">{$one['product']}</a>
						</td>
                        <td nowrap>{$one['view']}</td>
						<td nowrap>                        	
                            <strong>${get_name_cate($one['group_ppid'])}</strong>
                            <!--{if $one['group_ppid']!=$one['group_pid']}-->
							<br />--${get_name_cate($one['group_pid'])}
                            <!--{/if}-->
                        </td>
						<td nowrap><a href="/ajax/manage.php?action=teamactive&p=${$one['active']?'0':'1'}&id={$one['id']}" class="ajaxlink"><img src="/img/${$one['active']?'un':''}check.png"></a></td>
						<td nowrap>{$one['now_number']}</td>
						<td nowrap>${formatMoney($one['team_price'])}{$currency}<br/><span style="text-decoration:line-through">${formatMoney($one['market_price'])}{$currency}</span></td>
						<td class="op" nowrap>						
						<a href="/manage/team/edit.php?id={$one['id']}">Sửa</a> | 
						<a href="/ajax/manage.php?action=teamremove&id={$one['id']}" class="ajaxlink" ask="Bạn có chắc xoá deal này không?" >Xoá</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="8">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
