<div id="order-pay-dialog" class="order-pay-dialog-c" style="width:600px;">
	<h3>Chi tiết đơn hàng số {$order['order_code']}<span id="order-pay-dialog-close" class="close" onclick="return X.boxClose();">Đóng</span></h3>
	<div style="overflow-x:hidden;padding:10px;" id="dialog-order-id" oid="{$order['id']}">
	<input type="hidden" id="user_id" value="{$order['user_id']}">
	<table width="96%" align="center" class="coupons-table" style="line-height:22px;">
		<tbody>
        	<tr class="forum_title_tr">
            	<th>STT</th><th>Tên sản phẩm / Dịch vụ</th>
                <th>Đơn giá</th><th>Số lượng</th><th>Thành tiền</th>
          	</tr>
            <!--{loop $team_orders $index $team_order}-->
            <!--${
            	$team = Table::Fetch('team', $team_order['team_id']);
                $info = 'infop'.$team_order['info_id'];
                $team[$info] =  $team[$info]?$team[$info]:'Chọn ngẩu nhiên'; 
                $quantity = $team_order['quantity'];
                $price_sum = $quantity * $team['team_price'];
            }-->
            <!--{if $index%2==0}-->
            <tr class="alt">
            <!--{else}-->
            <tr>
            <!--{/if}-->
            	<td>${++$index}</td>
                <td>
                	<a target="_blank" title="Xem chi tiết" href="${rewrite_team_id($team['id'])}">{$team['product']}</a>
                    [<i style="color: #E7433C;">{$team[$info]}</i>]
                </td>
                <td>${formatMoney($team['team_price'])}</td>
                <td>{$quantity}</td>
                <td style="text-align:right">${formatMoney($price_sum)}</td>
            </tr>
            <!--{/loop}-->
           
            <tr class="alt">
                <td style="text-align:right" colspan="4">Tổng giá trị đơn hàng</td>
                <td style="font-size: 100%; text-align:right; font-weight:bold">${formatMoney($order['fare']+$order['total_price'])}</td>
            </tr>
           
            <tr class="alt">
                <td style="text-align:right; font-weight:bold" colspan="4">Thanh toán bằng tiền mặt</td>
                <td style="font-size: 120%;color:red; text-align:right; font-weight:bold">
                	${formatMoney($order['fare']+$order['total_price']-$order['paymoney'])}
               	</td>
            </tr>
        </tbody>
	</table>
    <table width="96%" class="coupons-table" style="line-height:22px;">
        <tbody>
            <tr class="forum_title_tr"><th colspan="2" width="50%"><b>Thông tin người nhận</b></th><th colspan="2">Thông tin đơn hàng</th></tr>
            <tr>
            	<td width="15%"><b>Họ tên</b></td><td>{$order['fullname']}</td>
                <td width="20%"><b>Mã đơn hàng</b></td><td>{$order['order_code']}</td>
            </tr>
            <tr class="alt">
            	<td width="15%"><b>Địa chỉ</b></td>
                <td>{$order['address'].', '.get_name_local($order['ward_id']).', '.get_name_local($order['district_id']).', '.get_name_local($order['province_id'])}</td>
                <td width="20%"><b>Ngày đặt</b></td><td>${date('d/m/Y H:i',$order['create_time'])}</td>
            </tr>
            <tr>
            	<td width="15%"><b>Điện thoại</b></td><td><strong>{$order['mobile']}</strong></td>
                <td width="20%"><b>Tình trạng</b></td><td><strong>{$option_delivery[$order['ship_state']]}</strong></td>
           	</tr>
            <tr class="alt">
            	<td width="15%"><b>Lời nhắn</b></td><td><strong>{$order['remark']}</strong></td>
                <td width="20%"><b>Thanh toán</b></td><td><strong>{$paystate[$order['state']]}</strong></td>
         	</tr>
        </tbody>
    </table>
	</div>
</div>
