<!--{include manage_header}-->



<div id="bdw" class="bdw">

<div id="bd" class="cf">

<div id="partner">

	<div class="dashboard" id="dashboard">

		<ul>${current_adsense('position')}</ul>

	</div>

	<div id="content" class="clear mainwide">

        <div class="clear box">

            <div class="box-top"></div>

            <div class="box-content">

                <div class="head"><h2>Nhập thông tin quảng cáo</h2></div>

                <div class="sect">

                    <form method="post" action="{$_SERVER['PHP_SELF']}" enctype="multipart/form-data" class="validator">

                    <input type="hidden" name="id" value="{$_GET['id']}">

						<div class="wholetip clear"><h3>Xin điền thông tin</h3></div>
                        
                        <div class="field">

                            <label>Tên</label>

                            <input type="text" size="30" name="name_info" value="{$getadsense['name']}" require="true" datatype="require" maxLength="100" class="f-input" style="width:400px;" />

                            <span class="inputtip"><font color="red">Website mua chung</font></span>

                        </div>

  	                    <div class="field">

                            <label>Vị trí</label>
                            <select name="pos_info" class="f-input" style="width:160px;">
                            	${Utility::Option($ads_position,$getadsense['pos_ads'],'-Chọn vị trí-')}
                            </select>
                            
                            <label>Sắp xếp</label>
                            
                            <input type="text" size="3" name="sort_info" value="{$getadsense['order_sort']}" maxLength="3" class="f-input" style="width:90px;" />
                        </div>  

                        
                        <div class="field">

                            <label>Liên kết</label>

                            <input type="text" size="30" name="url_info" value="{$getadsense['url']}" require="true" datatype="require" maxLength="100" class="f-input" style="width:500px;" />

                            <span class="inputtip"><font color="red">vd: http://{$_SERVER['SERVER_NAME']}</font></span>

                        </div>

                        <div class="field">

                            <label>Ảnh</label>

                            <input type="file" size="30" name="upload_image" id="slider-image-upload" class="f-input" style="width:287px"/>
                            
                            <label style="width:70px">Hiển thị</label>

							<!--{if $getadsense['display']=='N'}-->
							
							<input type="radio" name="display_info" value="Y" /> Có 

							<input type="radio" name="display_info" value="N" checked="checked" /> không

							<!--{else}-->

							<input type="radio" name="display_info" value="Y" checked="checked"/> Có 

							<input type="radio" name="display_info" value="N"/> Không
							
							<!--{/if}-->

                            <!--{if !empty($getadsense['image'])}-->
                            <span class="hint">{$getadsense['image']}</span>
                            <!--{/if}-->

                        </div>                        

                        <div class="act">
						<!--{if $_GET['action']!='edit'}-->
                            <input type="submit" value="Thêm mới" name="createnew" class="formbutton"/>
						<!--{else}-->
                            <input type="submit" value="Sửa" name="edit" class="formbutton"/>
						<!--{/if}-->
                        </div>

                    </form>

                    <table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">

					<tr class="forum_title_tr">
                        <th>ID</th><th nowrap="nowrap">Ảnh</th><th width="50">Sắp xếp</th>
                        <th width="200" nowrap>Tên</th><th width="450">Liên kết</th>
                        <th width="30">H.thị</th><th width="90">Vị trí</th><th width="80">Thao tác</th>
                    </tr>

					<!--{loop $adsenses $index $one}-->

					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">

						<td>{$one['id']}</td>

						<td><img src="${team_image($one['image'])}" width="200"></td>

						<td>{$one['order_sort']}</td>

						<td>{$one['name']}</td>

						<td>{$one['url']}</td>
                        
                        <td>{$one['display']}</td>
                        
                        <td>{$ads_position[$one['pos_ads']]}</td>
                        

					<td class="op" nowrap><a href="/manage/adsense/position.php?action=edit&id={$one['id']}">Sửa</a> | <a href="/ajax/manage.php?action=adsremove&id={$one['id']}" class="ajaxlink" ask="Bạn có chắc muốn xóa thông tin trình ảnh này?">xóa</a></td>

					</tr>

					<!--{/loop}-->

					<tr><td colspan="8">{$pagestring}</tr>						

                    </table>

                </div>

            </div>

            <div class="box-bottom"></div>

        </div>

	</div>

<div id="sidebar">

</div>

</div>

</div> <!-- bd end -->

</div> <!-- bdw end -->

<!--{include manage_footer}-->