<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_order('unpay')}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
                    <h2>Đơn hàng chưa thanh toán</h2>
				</div>
				<div class="sect" style="padding:0 10px;">
					<form method="get">
						<p style="margin:5px 0;">Số đơn hàng<input type="text" name="id" value="${htmlspecialchars($id)}" class="h-input"/>Khách hàng<input type="text" name="uemail" class="h-input" value="${htmlspecialchars($uemail)}" >Số deal<input type="text" name="team_id" class="h-input number" value="{$team_id}" ></p>
						<p style="margin:5px 0;">Thời gian đặt hàng<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="cbday" value="{$cbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="ceday" value="{$ceday}" />Thời gian thanh toán<input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="pbday" value="{$pbday}" /> - <input type="text" class="h-input" onFocus="WdatePicker({isShowClear:false,readOnly:true})" name="peday" value="{$peday}" /></p>
						<p style="margin:5px 0;"><input type="submit" value="Tìm" class="formbutton"  style="padding:1px 6px;"/></p>
					<form>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="40">ID</th><th width="390">Tên deal</th><th width="180">Khách hàng</th><th width="40" nowrap>Số lượng</th><th width="50" nowrap>Tổng</th><th width="50" nowrap>Chưa thanh toán</th><th width="50" nowrap>Thời hạn thanh toán</th><th width="50" nowrap>Phương thức</th><th width="50" nowrap>Thao tác</th></tr>
					<!--{loop $orders $index $one}-->
					<tr ${$index%2?'':'class="alt"'} id="order-list-id-{$one['id']}">
						<td>{$one['id']}</td>
						<td>{$one['team_id']}(<a class="deal-title" href="/team.php?id={$one['team_id']}" target="_blank">{$teams[$one['team_id']]['product']}</a>)</td>
						<td><a href="/ajax/manage.php?action=userview&id={$one['user_id']}" class="ajaxlink">{$users[$one['user_id']]['email']}<br/>{$users[$one['user_id']]['username']}</a><!--{if Utility::IsMobile($users[$one['user_id']]['mobile'])}--><a href="/ajax/misc.php?action=sms&v={$users[$one['user_id']]['mobile']}" class="ajaxlink">SMS</a><!--{/if}--></td>
						<td>{$one['quantity']}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['origin'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['credit'])}</td>
						<td><span class="money">{$currency}</span>${moneyit($one['origin']-$one['credit'])}</td>
						<td>{$option_delivery[$teams[$one['team_id']]['delivery']]}${$one['express_id']?'Y':''}</td>
						<td class="op" nowrap><a href="/ajax/manage.php?action=orderremove&id={$one['id']}" class="ajaxlink" ask="sure to delete this order?">Xoá</a></td>
					</tr>
					<!--{/loop}-->
					<tr><td colspan="9">{$pagestring}</tr>
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
