<!--{include manage_header}-->



<div id="bdw" class="bdw">

<div id="bd" class="cf">

<div id="partner">

	<div class="dashboard" id="dashboard">

		<ul>${mcurrent_system('slider')}</ul>

	</div>

	<div id="content" class="clear mainwide">

        <div class="clear box">

            <div class="box-top"></div>

            <div class="box-content">

                <div class="head"><h2>Cầu hình trình ảnh</h2></div>

                <div class="sect">

                    <form method="post" action="{$_SERVER['PHP_SELF']}" enctype="multipart/form-data" class="validator">

                    <input type="hidden" name="id" value="{$_GET['id']}">

						<div class="wholetip clear"><h3>Xin điền thông tin</h3></div>

  	                    <div class="field">

                            <label>Sắp xếp</label>

                            <input type="text" size="30" name="sortimg_info" value="{$getslider['sortimg']}" require="true" datatype="require" maxLength="3" class="f-input" style="width:100px;" />

                            <span class="inputtip"><font color="red">Số càng lớn thì độ ưu tiên càng cao</font></span>

                        </div>  

                        <div class="field">

                            <label>Tên sản phẩm</label>

                            <input type="text" size="30" name="product_info" value="{$getslider['product']}" require="true" datatype="require" maxLength="100" class="f-input" style="width:400px;" />

                            <span class="inputtip"><font color="red">Ví dụ: USB Kingston giá rẻ</font></span>

                        </div>

                        <div class="field">

                            <label>Ảnh sản phẩm</label>

                            <input type="file" size="30" name="upload_image_info" id="slider-image-upload" class="f-input" />

                            <!-- ${if (!empty($getslider['image']))}--> {$getslider['image']}

                        </div>                        

                        <div class="field">

                            <label>Liên kết</label>

                             <input type="text" size="30" name="link_info" value="{$getslider['link']}" require="true" datatype="require" maxLength="300" class="f-input" style="width:500px;" />
                             <span class="inputtip"><font color="red">Ví dụ: http://{$_SERVER['SERVER_NAME']}</font></span>

                       </div>
                        
                        <div class="act">

                            <input type="submit" value="Thêm mới" name="createnew" class="formbutton"/>

                            <input type="submit" value="Sửa" name="edit" class="formbutton"/>

                            <input type="reset" value="Làm lại" id="clear" name="clear" class="formbutton"/>

                        </div>

                    </form>

                    <table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">

					<tr class="forum_title_tr"><th>ID</th><th width="60">Ảnh</th><th width="50">Sắp xếp</th>
					<th width="200" nowrap>Tên sản phẩm</th>
					<th width="490">Liên kết</th><th width="80">Thao tác</th></tr>

					<!--{loop $sliders $slider $one}-->

					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">

						<td>{$one['id']}</td>

						<td><img src="../../static/{$one['image']}" width="50" height="200"></td>

						<td>{$one['sortimg']}</td>

						<td>{$one['product']}</td>

						<td>{$one['link']}</td>

					<td class="op" nowrap><a href="/manage/system/slider.php?action=edit&id={$one['id']}">Sửa</a> | <a href="/ajax/manage.php?action=sliderremove&id={$one['id']}" class="ajaxlink" ask="Bạn có chắc muốn xóa thông tin trình ảnh này?">xóa</a></td>

					</tr>

					<!--{/loop}-->

					<tr><td colspan="8">{$pagestring}</tr>						

                    </table>

                </div>

            </div>

            <div class="box-bottom"></div>

        </div>

	</div>

<div id="sidebar">

</div>

</div>

</div> <!-- bd end -->

</div> <!-- bdw end -->

<!--{include manage_footer}-->