<!--{include manage_header}-->

<div id="bdw" class="bdw">

<div id="bd" class="cf">

<div id="partner">

	<div id="content" class="clear mainwide">

        <div class="clear box">

            <div class="box-top"></div>

            <div class="box-content">

                <div class="head"><h2>Đăng ký bản quyền</h2></div>

                <div class="sect">

                    <form method="post" action="{$_SERVER['PHP_SELF']}" enctype="multipart/form-data" class="validator">      

                        <div class="field"><label>Họ và tên</label>
						
                            <input type="text" size="30" name="name_info" require="true" datatype="require" maxLength="100" class="f-input" style="width:300px;" />
                            <span class="hint">Nhập họ tên đầy đủ của bạn</span>

                        </div>
                        <div class="field"><label>Serial</label>
						
                            <input type="text" size="30" name="serial_info" require="true" datatype="require" maxLength="100" class="f-input" style="width:300px;" />
                            <span class="hint">Nhập chính xác số serial key mà người bán cấp cho bạn</span>

                        </div>
                        <input type="hidden" name="pass_info" value="f9d5d539319d0cabd175ffd6187beb34" />

                        
                        <div class="act">

                            <input type="submit" value="Đăng ký" name="register" class="formbutton"/>

                        </div>

                    </form>

 

                </div>

            </div>

            <div class="box-bottom"></div>

        </div>

	</div>

<div id="sidebar">

</div>

</div>

</div> <!-- bd end -->

</div> <!-- bdw end -->

<!--{include manage_footer}-->