<!--{include manage_header}-->

<div id="bdw" class="bdw">
<div id="bd" class="cf">
<div id="coupons">
	<div class="dashboard" id="dashboard">
		<ul>${mcurrent_team($selector)}</ul>
	</div>
    <div id="content" class="coupons-box clear mainwide">
		<div class="box clear">
            <div class="box-top"></div>
            <div class="box-content">
                <div class="head">
	                    <h2>Deal sắp hết hạn</h2>
		
                    <ul class="filter">
                        <li>
                        <form method="get">
							ID: <input type="text" name="id" class="h-input" value="${htmlspecialchars($id)}" >&nbsp;&nbsp;
                            Tên sản phẩm: <input type="text" name="ptitle" class="h-input" value="${htmlspecialchars($ptitle)}" >&nbsp;&nbsp;
							<select style="width:160px;" name="teamcate" class="h-input"><option value="">Chọn chuyên mục</option>${Utility::Option($cates)}</select>
                            <input type="submit" value="Tìm" class="formbutton"  style="padding:1px 6px;"/>
                        </form>
                        </li>
                    </ul>
				</div>
                <div class="sect">
					<table id="orders-list" cellspacing="0" cellpadding="0" border="0" class="coupons-table">
					<tr><th width="20">ID</th><th width="350">Tên deal</th><th width="70">Sắp xếp</th><th width="80" nowrap>Chuyên mục</th><th width="100">Ngày tháng</th><th width="50">L.Mua</th><th width="60" nowrap>Giá</th><th width="140">Thao tác</th></tr>
					<!--{loop $teams $index $one}-->
					<!--${
						$epx = strtotime(date('Y-m-d H:i:s',$one['end_time']));
						$today = strtotime(date( "Y-m-d H:i:s", strtotime('+10 day') ));
						$now = strtotime(date('H:i Y-m-d'));
					}-->
					<!--{if $epx <= $today && $one['end_time'] >= $now}-->
					<!--${$oldstate = $one['state']}-->
					<!--${$one['state'] = team_state($one)}-->
					<tr ${$index%2?'':'class="alt"'} id="team-list-id-{$one['id']}">
						<td>{$one['id']}</a></td>
						<td  style="text-align:left;">						
							<a class="deal-title" href="${rewrite_team_id($one['id'])}" target="_blank" title="{$one['title']}">{$one['product']}</a>
							<b><a href="/ajax/manage.php?action=update&id={$one['id']}" class="ajaxlink" style="color:blue">[Gia hạn]</a></b>
						</td>
                        <td nowrap>{$one['sort_order']}</td>
						<td nowrap>
                        	<!--{if $one['city_id']==0}-->
                            	Tất cả thành phố<br /> 
                            <!--{else}-->
                        		{$cities[$one['city_id']]['name']}<br />
                            <!--{/if}-->  
                            <strong>${get_name_cate($one['group_pid'])}</strong>
                            <!--{if $one['group_id']!=$one['group_pid']}-->
							<br />--${get_name_cate($one['group_id'])}
                            <!--{/if}-->
                        </td>
						<td nowrap>${date('d-m-Y',$one['begin_time'])}<br/>${date('d-m-Y',$one['end_time'])}</td>
						<td nowrap>{$one['now_number']}/{$one['min_number']}</td>
						<td nowrap>${formatMoney($one['input_price'])}{$currency}<br />${formatMoney($one['team_price'])}{$currency}<br/><span style="text-decoration:line-through">${formatMoney($one['market_price'])}{$currency}</span></td>
						<td class="op" nowrap><a href="/ajax/manage.php?action=teamdetail&id={$one['id']}" class="ajaxlink">Chi tiết</a> | <a href="/manage/team/edit.php?id={$one['id']}">Sửa</a> | <a href="/ajax/manage.php?action=teamremove&id={$one['id']}" class="ajaxlink" ask="Bạn có chắc xoá deal này không?" >Xoá</a><!--{if (in_array($one['state'],array('success','soldout')))}-->/<a href="/manage/team/down.php?id={$one['id']}" target="_blank">Tải về</a><!--{/if}--></td>
					</tr>
					<!--{/if}-->
					<!--{/loop}-->
					
                    </table>
				</div>
            </div>
            <div class="box-bottom"></div>
        </div>
    </div>
</div>
</div> <!-- bd end -->
</div> <!-- bdw end -->

<!--{include manage_footer}-->
